.usercreate{
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 1em;
  align-items: center;
  width: 30%;
  background-color: #fff;
  padding-top: 1em; 
  padding-bottom: 4em;
  border-radius: 5px;
}

.usercreate form{
  width: 76%;
  margin-top: 2em;
}

.usercreate .input-group-custom{
  margin: auto;
  width: 100%;
  height: 40px;
}
.usercreate .input-group-danger{
  width: 100%;
  height: 40px;
}
.usercreate .input-group-custom input{
  height: 40px;
}

.usercreate button{
  margin-top: 1em;
  width: 76%;
}

.usercreate .error-reminder{
  color: red;
  margin: 1em auto -2em auto;
  display: none;
}