.usercreate{
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 1em;
  align-items: center;
  width: 50%;
  background-color: #fff;
  padding-top: 1em; 
  padding-bottom: 4em;
  border-radius: 5px;
}
.usercreate form{
  width: 80%;
  margin-top: 2em;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.usercreate form span{
  margin-top: 1.4em;
}
.usercreate .input-group input{
  width: 80%;
  height: 40px;
}
.usercreate form button{
  margin: 1.6em auto auto auto;
  width: 90%;
}